/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* Common Styles or utilities */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    margin-top: 40px;
    margin-bottom: 100px;
}

main {
    margin-top: 100px;
    margin-bottom: 100px;
}

/* Header Styles */
.header-area {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 90%;
    height: 100%;
    margin: 30px auto;
    background-color: #541690;
    border-radius: 20px;
    color: #FFFFFF;
}

.header-content {
    width: 80%;
    margin: 80px 10px 80px 80px;
}

.header-content h1 {
    font-size: 60px;
    line-height: 80px;
    margin-top: 0;
    margin-bottom: 10px;
}

.tablets-text {
    display: none;
}

.header-content p {
    font-size: 12px;
    line-height: 26px;
}

.header-button {
    background-color: #FFCD38;
    color: #541690;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    margin-top: 10px;
    font-weight: 700;
}

.header-button i {
    margin-left: 15px;
}

/* Header Animation */


.header-image {
    width: 100%;
    margin: 20px 45px 0;
}

.header-image img {
    height: 100%;
}


/* Main Area */
.blog-area {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 90%;
    margin: 30px auto;
    grid-gap: 20px;
}

.blog-page-button-area {
    grid-column: 1/2;
    background-color: #541690;
    border-radius: 10px;
    height: 275px;
    width: 270px;
}

.blog-page-button-area a {
    background-color: #FFFFFF;
    color: #541690;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    border-radius: 10px;
    width: 60%;
    margin: 30px auto;
    font-weight: 700;

}

.blog-page-button-area a:hover {
    background-color: #FFCD38;
    color: #541690;

}

.blog-page-button-area a:last-child {
    color: #541690;
    background-color: #FFCD38;
}

.blog-page-items-area {
    grid-column: 2/-1;
}

.blog-items-area {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

.blog-item {
    border: 2px solid #E8E8E8;
    border-radius: 10px;
}

.blog-image-area img {
    width: 100%;
    height: 100%;
    border-radius: 10px 10px 0 0;
    object-fit: cover;

}

.blog-image-area a {
    text-decoration: none;
    border: 1px solid #541690;
    border-radius: 5px;
    display: inline-block;
    padding: 3px 13px;
    color: #541690;
    margin-left: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 12px;
    font-weight: 700;
}


.blog-image-area h3 {
    text-decoration: none;
    margin-left: 20px;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    color: #541690;
}

.blog-time-comment-area {
    display: flex;
    color: #541690;
}

.blog-time-comment-area p:last-child {
    margin-left: 15px;
}

.blog-time-comment-area i {
    margin-left: 20px;
    margin-right: 10px;
}

.blog-items-button a {
    display: none;
}

/* Footer Area */
footer {
    background-color: #541690;
    color: white;
}

.container {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    padding: 80px 0;
}

.container h3 {
    font-size: 30px;
    margin-bottom: 40px;
}

.container hr {
    border: none;
    height: 1px;
    background-color: gray;
}

.contact-area {
    margin-top: 35px;
}

.contact-area p {
    display: inline-block;
    font-size: 12px;
    margin-left: 50px;
}

.contact-area p:first-child {
    margin-left: 0;
}

.contact-area a {
    text-decoration: none;
    color: #B9B9B9;
}

.social-area {
    margin-top: 40px;
    margin-bottom: 10px;
}

.social-area a {
    padding: 10px 10px;
    margin-left: 20px;
    display: inline-block;
    text-decoration: none;
    color: #FFCD38;
    font-size: 20px;
}

.social-area a:first-child {
    margin-left: 0;
}

.social-area a:hover {
    background-color: #FFCD38;
    border-radius: 50%;
    color: #541690;
}








/* Upcoming Match Page Area */

/* Main Area */
.upcoming-area {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 90%;
    margin: 30px auto;
    grid-gap: 20px;
}

.upcoming-page-button-area {
    grid-column: 1/2;
    background-color: #541690;
    border-radius: 10px;
    height: 275px;
    width: 270px;
}

.upcoming-page-button-area a {
    background-color: #FFFFFF;
    color: #541690;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    border-radius: 10px;
    width: 60%;
    margin: 30px auto;
    font-weight: 700;

}

.upcoming-page-button-area a:hover {
    background-color: #FFCD38;
    color: #541690;

}

.upcoming-page-button-area a:first-child {
    color: #541690;
    background-color: #FFCD38;
}

.upcoming-page-items-area {
    grid-column: 2/-1;
}

.upcoming-items-area {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

.upcoming-item {
    border: 2px solid #E8E8E8;
    border-radius: 10px;
    text-align: center;
}

.upcoming-image-area img {
    width: 100%;
    height: 100%;
    border-radius: 10px 10px 0 0;
    object-fit: cover;
}

.upcoming-image-area h3 {
    text-decoration: none;
    margin-top: 10px;
    margin-bottom: 0;
    font-size: 16px;
    color: #541690;
}

.upcoming-time-area {
    display: flex;
    justify-content: center;
}

.upcoming-time-area p {
    font-size: 12px;
    margin-bottom: 40px;
    color: #541690;
}

/* Mobile Devices */
@media screen and (max-width: 576px) {

    /* Header Styles */
    header {
        margin-bottom: 0;
    }

    .header-area {
        width: 90%;
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .header-content {
        width: 60%;
        margin: 0 auto;
        margin-top: 30px;
    }

    .header-content h1 {
        font-size: 26px;
        line-height: 45px;
    }

    .tablets-text {
        display: block !important;
    }

    .header-content p {
        display: none;
        font-size: 14px;
        line-height: 24px;
    }

    .header-image {
        width: 100%;
        margin: 20px 0 -6px 20px;
    }

    .header-image img {
        height: 100%;
    }

    /* Main Area */
    main {
        margin-top: 0;
        margin-bottom: 0;
    }


    .blog-area {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        width: 90%;
        margin: 30px auto;
        grid-gap: 20px;
        justify-content: center;
    }

    .blog-page-button-area {
        grid-column: 1/ -1;
        ;
        background-color: white;
        border-radius: 10px;
        height: 275px;
        width: 100%;
    }

    .blog-page-button-area a {
        background-color: #FFFFFF;
        color: #541690;
        border: 1px solid #541690;
        padding: 15px 20px;
        text-align: center;
        text-decoration: none;
        display: block;
        font-size: 15px;
        line-height: 20px;
        border-radius: 10px;
        width: 35%;
        font-weight: 700;

    }

    .blog-page-items-area {
        grid-column: 1/ -1;
        width: 100%;
    }

    .blog-items-area {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .blog-image-area a {
        font-size: 15px;
    }

    .blog-image-area h3 {
        font-size: 15px;
    }

    .blog-time-comment-area {
        font-size: 15px;
    }

    /* Footer Area */

    .container {
        width: 90%;
        padding: 20px 0;
    }

    .contact-area p {
        display: block;
        font-size: 15px;
        margin-left: 0;
        margin-bottom: 30px;
    }

    .social-area a {
        font-size: 15px;
        padding: 5px 5px;
    }


    /* Upcoming Area */

    /* Main Area */
    main {
        margin-top: 0;
        margin-bottom: 0;
    }


    .upcoming-area {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        width: 90%;
        margin: 30px auto;
        grid-gap: 20px;
        justify-content: center;
    }

    .upcoming-page-button-area {
        grid-column: 1/ -1;
        ;
        background-color: white;
        border-radius: 10px;
        height: 275px;
        width: 100%;
    }

    .upcoming-page-button-area a {
        background-color: #FFFFFF;
        color: #541690;
        border: 1px solid #541690;
        padding: 15px 20px;
        text-align: center;
        text-decoration: none;
        display: block;
        font-size: 15px;
        line-height: 20px;
        border-radius: 10px;
        width: 35%;
        font-weight: 700;

    }

    .upcoming-page-items-area {
        grid-column: 1/ -1;
        width: 100%;
    }

    .upcoming-items-area {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .upcoming-items-area a {
        font-size: 15px;
    }

    .upcoming-items-area h3 {
        font-size: 15px;
    }

    .upcoming-time-area {
        font-size: 15px;
    }
}


/* Smaller Devices */
@media screen and (min-width: 577px) and (max-width: 768px) {

    /* Header Styles */
    header {
        margin-bottom: 0;
    }

    .header-area {
        width: 90%;
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .header-content {
        width: 60%;
        margin: 0 auto;
        margin-top: 30px;
    }

    .header-content h1 {
        font-size: 26px;
        line-height: 45px;
    }

    .tablets-text {
        display: block !important;
    }

    .header-content p {
        display: none;
        font-size: 14px;
        line-height: 24px;
    }

    .header-image {
        width: 100%;
        margin: 20px 0 -6px 20px;
    }

    .header-image img {
        height: 100%;
    }

    /* Main Area */
    main {
        margin-top: 0;
        margin-bottom: 0;
    }


    .blog-area {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        width: 90%;
        margin: 30px auto;
        grid-gap: 20px;
        justify-content: center;
    }

    .blog-page-button-area {
        grid-column: 1/ -1;
        ;
        background-color: white;
        border-radius: 10px;
        height: 275px;
        width: 100%;
    }

    .blog-page-button-area a {
        background-color: #FFFFFF;
        color: #541690;
        border: 1px solid #541690;
        padding: 15px 5px;
        text-align: center;
        text-decoration: none;
        display: block;
        font-size: 15px;
        line-height: 20px;
        border-radius: 10px;
        width: 35%;
        font-weight: 700;

    }

    .blog-page-items-area {
        grid-column: 1/ -1;
        width: 100%;
    }

    .blog-items-area {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .blog-image-area a {
        font-size: 15px;
    }

    .blog-image-area h3 {
        font-size: 15px;
    }

    .blog-time-comment-area {
        font-size: 15px;
    }

    /* Footer Area */

    .container {
        width: 90%;
        padding: 20px 0;
    }

    .contact-area p {
        display: block;
        font-size: 15px;
        margin-left: 0;
        margin-bottom: 30px;
    }

    .social-area a {
        font-size: 15px;
        padding: 5px 5px;
    }

    /* Upcoming Area */
    main {
        margin-top: 0;
        margin-bottom: 0;
    }


    .upcoming-area {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        width: 90%;
        margin: 30px auto;
        grid-gap: 20px;
        justify-content: center;
    }

    .upcoming-page-button-area {
        grid-column: 1/ -1;
        ;
        background-color: white;
        border-radius: 10px;
        height: 275px;
        width: 100%;
    }

    .upcoming-page-button-area a {
        background-color: #FFFFFF;
        color: #541690;
        border: 1px solid #541690;
        padding: 15px 5px;
        text-align: center;
        text-decoration: none;
        display: block;
        font-size: 15px;
        line-height: 20px;
        border-radius: 10px;
        width: 35%;
        font-weight: 700;

    }

    .upcoming-page-items-area {
        grid-column: 1/ -1;
        width: 100%;
    }

    .upcoming-items-area {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .upcoming-image-area a {
        font-size: 15px;
    }

    .upcoming-image-area h3 {
        font-size: 15px;
    }

    .upcoming-time-area {
        font-size: 15px;
    }
}

/* Tablets Devices */
@media screen and (min-width: 769px) and (max-width: 992px) {

    /* Common Styles */
    header {
        margin-bottom: 0;
    }

    /* Header Area */
    .header-area {
        width: 90%;
    }

    .header-content {
        width: 80%;
        margin: 80px 10px 80px 60px;
    }

    .header-content h1 {
        font-size: 40px;
        line-height: 50px;
        margin-top: 0;
        margin-bottom: 10px;
    }

    .header-content p {
        display: none;
        font-size: 16px;
        line-height: 24px;
    }

    .tablets-text {
        display: block !important;
    }

    .header-image {
        width: 100%;
        margin: 20px 20px 0;
    }

    .header-image img {
        width: 100%;
        height: 100%;
    }

    /* Main Area */
    main {
        margin-top: 0;
        margin-bottom: 0;
    }

    .blog-area {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 90%;
        margin: 30px auto;
    }

    .blog-page-button-area {
        grid-column: 1/ -1;
        background-color: white;
        height: 100px;
        margin-bottom: 20px;
        width: 100%;
        text-align: center;

    }

    .blog-page-button-area a {
        background-color: #FFFFFF;
        color: #541690;
        text-decoration: none;
        display: inline-block;
        font-size: 17px;
        border-radius: 5px;
        border: 1px solid #541690;
        font-weight: 700;
        width: 26%;
        margin: 30px auto;
        margin-right: 10px;
    }

    .blog-page-button-area a:last-child {
        margin-right: 0;
    }

    .blog-page-items-area {
        grid-column: 1/-1;
    }

    .blog-items-area {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
    }

    .blog-items-button {
        width: 700px;
        text-align: center;
        margin-top: 40px;
    }

    .blog-items-button a {
        background-color: #FFCD38;
        color: #541690;
        text-decoration: none;
        display: inline-block;
        font-size: 25px;
        border-radius: 5px;
        font-weight: 700;
        padding: 10px 35px;
        text-align: center;
    }


    /* Footer Area */

    .container {
        width: 700px;
    }

    .contact-area p {
        font-size: 20px;
    }

    /* Upcoming Area */
    main {
        margin-top: 0;
        margin-bottom: 0;
    }

    .upcoming-area {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 90%;
        margin: 30px auto;
    }

    .upcoming-page-button-area {
        grid-column: 1/ -1;
        background-color: white;
        height: 100px;
        margin-bottom: 20px;
        width: 100%;
        text-align: center;

    }

    .upcoming-page-button-area a {
        background-color: #FFFFFF;
        color: #541690;
        text-decoration: none;
        display: inline-block;
        font-size: 17px;
        border-radius: 5px;
        border: 1px solid #541690;
        font-weight: 700;
        width: 26%;
        margin: 30px auto;
        margin-right: 10px;
    }

    .upcoming-page-button-area a:last-child {
        margin-right: 0;
    }

    .upcoming-page-items-area {
        grid-column: 1/-1;
    }

    .upcoming-items-area {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
    }
}

/* Desktop Devices */
@media screen and (min-width: 993px) and (max-width: 1200px) {
    @keyframes sliding {
        from {
            width: 0;
            height: 0;
            left: 30%;
            right: 50%;
            top: 30%;
            bottom: 50%;
        }

        to {
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
        }
    }

    .header-image {
        position: relative;
    }

    .header-image img {
        position: absolute;
        animation: sliding 3s ease-in-out .1s infinite alternate;
    }

    .blog-page-button-area {
        height: 45%;
    }

    .header-content {
        width: 100%;
    }

    /* Upcoming Area */

    .upcoming-page-button-area {
        height: 55%;
    }

}

/* Larg Desktop Devices */
@media screen and (min-width: 1201px) and (max-width: 1400px) {
    @keyframes sliding {
        from {
            width: 0;
            height: 0;
            left: 30%;
            right: 50%;
            top: 30%;
            bottom: 50%;
        }

        to {
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
        }
    }

    .header-image {
        position: relative;
    }

    .header-image img {
        position: absolute;
        animation: sliding 3s ease-in-out .1s infinite alternate;
    }

    .blog-page-button-area {
        height: 43%;
    }

    /* Upcoming Area */
    .upcoming-page-button-area {
        height: 48%;
    }
}