/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* Common Styles or utilities */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    margin-top: 40px;
    margin-bottom: 100px;
}

main {
    margin-top: 100px;
    margin-bottom: 100px;
}

/* Header Styles */
.header-area {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 1102px;
    height: 100%;
    margin: 30px auto;
    background-color: #000000;
    border-radius: 20px;
    color: #FFFFFF;
}

.header-content {
    width: 80%;
    margin: 80px 10px 80px 80px;
}

.header-content h1 {
    font-size: 60px;
    line-height: 80px;
    margin-top: 0;
    margin-bottom: 10px;
}

.header-content p {
    font-size: 12px;
    line-height: 26px;
}

.header-button {
    background-color: #FFCD38;
    color: gray;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    margin-top: 10px;
}

.header-button i {
    margin-left: 15px;
}

.header-image {
    width: 100%;
    margin: 20px 45px 0;
}

.header-image img {
    height: 100%;
}


/* Main Area */
.blog-area {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 1102px;
    margin: 30px auto;
    grid-gap: 20px;
}

.blog-page-button-area {
    grid-column: 1/2;
    background-color: #000000;
    border-radius: 10px;
    height: 275px;
}

.blog-page-button-area a {
    background-color: #FFFFFF;
    color: #000000;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    border-radius: 5px;
    width: 60%;
    margin: 30px auto;
    font-weight: 700;

}

.blog-page-items-area {
    grid-column: 2/-1;
}

.blog-items-area {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

.blog-item {
    border: 1px solid #E8E8E8;
    border-radius: 10px;
}

.blog-image-area img {
    width: 100%;
}

.blog-image-area a {
    text-decoration: none;
    border: 1px solid black;
    border-radius: 5px;
    display: inline-block;
    padding: 3px 13px;
    color: black;
    margin-left: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 12px;
    font-weight: 700;
}

.blog-page-button-area a:last-child {
    color: gray;
    background-color: #FFCD38;
}

.blog-image-area h3 {
    text-decoration: none;
    margin-left: 20px;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
}

.blog-time-comment-area {
    display: flex;
    color: gray;
}

.blog-time-comment-area p:last-child {
    margin-left: 15px;
}

.blog-time-comment-area i {
    margin-left: 20px;
    margin-right: 10px;
}